@model EvilDuck.Platform.Cms.Areas.Admin.Models.Tables.CreateColumnViewModel

@using (Ajax.BeginForm(new AjaxOptions()
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "colummns-container",
    OnSuccess = "$('#addModal').modal('hide');"
}))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(e => e.TableId)
    <div class="form-group">
        @Html.LabelFor(e => e.Name)
        @Html.TextBoxFor(e => e.Name, new { @class = "form-control"})
        @Html.ValidationMessageFor(e => e.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(e => e.Caption)
        @Html.TextBoxFor(e => e.Caption, new { @class = "form-control"})
        @Html.ValidationMessageFor(e => e.Caption)
    </div>
    <div class="form-group">
        @Html.LabelFor(e => e.Type)
        @Html.EnumDropDownListFor(e => e.Type, new { @class = "form-control"})
        @Html.ValidationMessageFor(e => e.Type)
    </div>
    <div class="form-group">
        @Html.LabelFor(e => e.IsRequired)
        @Html.CheckBoxFor(e => e.IsRequired)
    </div>
    <div class="form-group" id="LengthGroup">
        @Html.LabelFor(e => e.Length)
        @Html.TextBoxFor(e => e.Length, new { @class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(e => e.IsRelation)
        @Html.CheckBoxFor(e => e.IsRelation)
    </div>
    <div class="form-group" id="RelationTableGroup">
        @Html.LabelFor(e => e.RelationTable)
        @Html.DropDownListFor(e => e.RelationTable, Model.AvailableTables.Select(e => new SelectListItem()
        {
            Text = e.Value,
            Value = e.Key
        }), new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(e => e.IsKey)
        @Html.CheckBoxFor(e => e.IsKey)
    </div>
    <div class="form-group" id="AutoIncrementGroup">
        @Html.LabelFor(e => e.AutoincrementKey)
        @Html.CheckBoxFor(e => e.AutoincrementKey)
    </div>
    <hr />
    <button class="btn btn-primary" type="submit">
        Zapisz
    </button>
    <button class="btn btn-default pull-right" type="submit" data-dismiss="modal">
        Anuluj
    </button>
}

<script type="text/javascript">
    $(function () {

        $('#RelationTableGroup').hide();
        $('#AutoIncrementGroup').hide();

        var isRelationField = $('#IsRelation');
        isRelationField.on('change', function () {
            if (isRelationField.is(':checked')) {
                $('#RelationTableGroup').show();
            } else {
                $('#RelationTableGroup').hide();
            }
        });

        var autoincrementField = $('#IsKey');
        autoincrementField.on('change', function() {
            if (autoincrementField.is(':checked')) {
                $('#AutoIncrementGroup').show();
            } else {
                $('#AutoIncrementGroup').hide();
            }
        });

        var typeField = $('#Type');
        typeField.on('change', function () {
            console.log(typeField.val());
            if (typeField.val() == 0) {
                $('#LengthGroup').show();
            } else {
                $('#LengthGroup').hide();
            }
        });
    });
</script>